PORT=5000
DB_USER=postgres
DB_HOST=localhost
DB_NAME=reporting_platform_db (KEEP the database name as is, do not change it)
DB_PASS=(Your password for the PostgreSQL database. Do not share this password with anyone.)
DB_PORT=5432 (PostgreSQL default port)
JWT_SECRET=(Check Discord/Mess for the JWT secret key. Do not share this key with anyone.)